{% if stoked_autumn_container_labels_traefik_enabled %}
traefik.enable=true

{% if stoked_autumn_container_labels_traefik_docker_network %}
traefik.docker.network={{ stoked_autumn_container_labels_traefik_docker_network }}
{% endif %}

{% set middlewares = [] %}

{% if stoked_autumn_container_labels_traefik_compression_middleware_enabled %}
{% set middlewares = middlewares + [stoked_autumn_container_labels_traefik_compression_middleware_name] %}
{% endif %}

{% if stoked_autumn_container_labels_traefik_path_prefix != '/' %}
traefik.http.middlewares.{{ stoked_autumn_identifier }}-slashless-redirect.redirectregex.regex=({{ stoked_autumn_container_labels_traefik_path_prefix | quote }})$
traefik.http.middlewares.{{ stoked_autumn_identifier }}-slashless-redirect.redirectregex.replacement=${1}/
{% set middlewares = middlewares + [stoked_autumn_identifier + '-slashless-redirect'] %}
{% endif %}

{% if stoked_autumn_container_labels_traefik_path_prefix != '/' %}
traefik.http.middlewares.{{ stoked_autumn_identifier }}-strip-prefix.stripprefix.prefixes={{ stoked_autumn_container_labels_traefik_path_prefix }}
{% set middlewares = middlewares + [stoked_autumn_identifier + '-strip-prefix'] %}
{% endif %}

{% if stoked_autumn_container_labels_traefik_additional_response_headers.keys() | length > 0 %}
{% for name, value in stoked_autumn_container_labels_traefik_additional_response_headers.items() %}
traefik.http.middlewares.{{ stoked_autumn_identifier }}-add-headers.headers.customresponseheaders.{{ name }}={{ value }}
{% endfor %}
{% set middlewares = middlewares + [stoked_autumn_identifier + '-add-headers'] %}
{% endif %}

traefik.http.routers.{{ stoked_autumn_identifier }}.rule={{ stoked_autumn_container_labels_traefik_rule }}
{% if stoked_autumn_container_labels_traefik_priority | int > 0 %}
traefik.http.routers.{{ stoked_autumn_identifier }}.priority={{ stoked_autumn_container_labels_traefik_priority }}
{% endif %}
traefik.http.routers.{{ stoked_autumn_identifier }}.service={{ stoked_autumn_identifier }}
{% if middlewares | length > 0 %}
traefik.http.routers.{{ stoked_autumn_identifier }}.middlewares={{ middlewares | join(',') }}
{% endif %}
traefik.http.routers.{{ stoked_autumn_identifier }}.entrypoints={{ stoked_autumn_container_labels_traefik_entrypoints }}

traefik.http.routers.{{ stoked_autumn_identifier }}.tls={{ stoked_autumn_container_labels_traefik_tls | to_json }}
{% if stoked_autumn_container_labels_traefik_tls %}
traefik.http.routers.{{ stoked_autumn_identifier }}.tls.certResolver={{ stoked_autumn_container_labels_traefik_tls_certResolver }}
{% endif %}

traefik.http.services.{{ stoked_autumn_identifier }}.loadbalancer.server.port={{ stoked_autumn_http_port }}
{% endif %}

{% for arg in stoked_autumn_container_labels_additional_labels %}
{{ arg }}
{% endfor %}
