[Unit]
Description=Stoked januaryUPPER ({{ stoked_january_identifier }})
{% for service in stoked_january_systemd_required_services_list %}
Requires={{ service }}
After={{ service }}
{% endfor %}
{% for service in stoked_january_systemd_wanted_services_list %}
Wants={{ service }}
{% endfor %}
DefaultDependencies=no

[Service]
Type=simple
Environment="HOME={{ sysd_docker_unit_home_path }}"
ExecStartPre=-{{ sysd_docker_host_sh }} -c '{{ sysd_docker_host_command }} stop -t {{ sysd_docker_stop_grace }} {{ stoked_january_identifier }} 2>/dev/null || true'
ExecStartPre=-{{ sysd_docker_host_sh }} -c '{{ sysd_docker_host_command }} rm {{ stoked_january_identifier }} 2>/dev/null || true'

ExecStartPre={{ sysd_docker_host_command }} create \
                --rm \
                --name={{ stoked_january_identifier }} \
                --log-driver=none \
                --network={{ stoked_january_container_network }} \
                --env-file={{ stoked_january_base_path }}/env \
                --label-file={{ stoked_january_base_path }}/labels \
                --mount type=bind,src={{ stoked_base_path }}/Revolt.toml,dst=/Revolt.toml,readonly \
                {% if stoked_january_container_extra_arguments | length > 0 %}
                {{ stoked_january_container_extra_arguments | join(' ') }} \
                {% endif %}
                {{ stoked_january_container_image }}

{% for network in stoked_january_container_additional_networks %}
ExecStartPre={{ sysd_docker_host_command }} network connect {{ network }} {{ stoked_january_identifier }}
{% endfor %}

ExecStart={{ sysd_docker_host_command }} start --attach {{ stoked_january_identifier }}

ExecStop=-{{ sysd_docker_host_sh }} -c '{{ sysd_docker_host_command }} stop -t {{ sysd_docker_stop_grace }} {{ stoked_january_identifier }} 2>/dev/null || true'
ExecStop=-{{ sysd_docker_host_sh }} -c '{{ sysd_docker_host_command }} rm {{ stoked_january_identifier }} 2>/dev/null || true'
Restart=always
RestartSec=30
SyslogIdentifier={{ stoked_january_identifier }}

[Install]
WantedBy=multi-user.target
