[database]
mongodb = "mongodb://{{ stoked_mongodb_hostname }}:27017"
redis = "redis://{{ stoked_redis_hostname }}:6379/"

[rabbit]
host = "{{ stoked_rabbitmq_hostname }}"
port = 5672
username = "{{ stoked_rabbitmq_user }}"
password = "{{ stoked_rabbitmq_password }}"

[api.registration]
invite_only = {{ stoked_registration_invite_only | default(false) | lower }}
{% if stoked_smtp_host | default('') | length > 0 %}

[api.smtp]
host = "{{ stoked_smtp_host }}"
port = {{ stoked_smtp_port | default(465) }}
username = "{{ stoked_smtp_username }}"
password = "{{ stoked_smtp_password }}"
from_address = "{{ stoked_smtp_from_address }}"
{% if stoked_smtp_reply_to | default('') | length > 0 %}
reply_to = "{{ stoked_smtp_reply_to }}"
{% endif %}
use_tls = {{ stoked_smtp_use_tls | default(true) | lower }}
use_starttls = {{ stoked_smtp_use_starttls | default(false) | lower }}
{% endif %}

[hosts]
app = "{{ stoked_scheme }}://{{ stoked_hostname }}"
api = "{{ stoked_scheme }}://{{ stoked_hostname }}/api"
events = "wss://{{ stoked_hostname }}/ws"
autumn = "{{ stoked_scheme }}://{{ stoked_hostname }}/autumn"
january = "{{ stoked_scheme }}://{{ stoked_hostname }}/january"

[hosts.livekit]
worldwide = "wss://{{ stoked_hostname }}/livekit"

[pushd.vapid]
private_key = "{{ stoked_effective_vapid_private_key }}"
public_key = "{{ stoked_effective_vapid_public_key }}"

[files]
encryption_key = "{{ stoked_effective_files_encryption_key }}"

[files.s3]
endpoint = "http://{{ stoked_minio_hostname }}:9000"
path_style_buckets = true
region = "minio"
access_key_id = "{{ stoked_minio_root_user }}"
secret_access_key = "{{ stoked_minio_root_password }}"
default_bucket = "{{ stoked_minio_bucket_name }}"

[api.livekit.nodes.worldwide]
url = "http://{{ stoked_livekit_identifier }}:{{ stoked_livekit_http_port }}"
lat = 0.0
lon = 0.0
key = "{{ stoked_effective_livekit_key }}"
secret = "{{ stoked_effective_livekit_secret }}"

{% if stoked_video_enabled %}
[features.limits.new_user]
video_resolution = [1920, 1080]
video_aspect_ratio = [0.3, 10]

[features.limits.default]
video_resolution = [1920, 1080]
video_aspect_ratio = [0.3, 10]
{% endif %}
